[Unit]
Description=Metagenome Analysis Service
After=network.target

[Service]
User=genome
Group=genome
WorkingDirectory=/home/aglebus/metagenome_nf
Environment="PATH=/home/aglebus/.sdkman/candidates/java/current/bin:/home/aglebus/.local/bin:/usr/local/bin:/usr/local/sbin:/usr/sbin:/usr/bin:/sbin:/bin:/home/aglebus/.local/bin/flask:/usr/local/bin/nextflow:/media/aglebus/DATA/.reads_tmp:/media/aglebus/DATA/output:/home/aglebus/metagenome_nf"
Environment="NXF_SINGULARITY_CACHEDIR=/home/aglebus/.singularity"
ExecStart=/usr/bin/python3 /home/aglebus/metagenome_nf/server_2_9_server.py
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
