process.publishDir = [path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" }, mode: 'copy']
dag.enabled             = true
dag.file                = "${params.outdir}/pipeline_info/dag.html"                      // DAG visualization file
report.enabled          = true
report.file             = "${params.outdir}/pipeline_info/report.html"                   // Report file
timeline.enabled        = true
timeline.file           = "${params.outdir}/pipeline_info/timeline.html"                 // Timeline file
trace.enabled           = true
trace.file              = "${params.outdir}/pipeline_info/trace.txt"                     // Trace file
profiles {
    genomed {
        params.reports = true
        params.cpus = 40
        params.memory = 125.GB
        cleanup                 = true                                                                      // Cleanup intermediate files
        process {
            cpus = 1
            memory = 2.GB
            withName: 'KRAKEN2|KRAKEN2_CONTIGS' {
                cpus = 10
                memory = 100.GB
                maxForks = 1
            }
            withName: 'ALIGN|MEGAHIT' {
                cpus = 2
            }
            withName: 'CHECKM' {
                cpus = 10
                memory = 80.GB
                maxForks = 6
            }
}
    }
    test {
        params.outdir               = "./results"                               // Output directory for results
        params.reads                = "/mnt/sdb1/aglebus/data"                      // Reads files
        params.kraken2_db           = "/mnt/sdb1/aglebus/kraken2_db"                // Data base for kraken2
        params.gtdbtk_db            = "/mnt/sdb1/aglebus/GTDB_db/release226"        // Data base for GTDB-TK
        params.metaphlan_db         = "/mnt/sdb1/aglebus/metaphlan_db"
        params.metaphlan_db_old     = "/mnt/sdb1/aglebus/metaphlan_db_vJun23"
        params.truth_tax            = '/mnt/sdb1/aglebus/'
        params.ar122_file           = '/mnt/sdb1/aglebus/resources/ar53_metadata_r226.tsv'
        params.bac120_file          = '/mnt/sdb1/aglebus/resources/bac120_metadata_r226.tsv'
        params.kneaddata_database   = '/mnt/sdb1/aglebus/hg37dec'
        params.nucleotide_database  = '/mnt/sdb1/aglebus/chocophlan'
        params.protein_database     = '/mnt/sdb1/aglebus/uniref'
        cleanup                     = false
        params.cpus                 = 1
        params.reports              = true
        process {
            cpus                    = 40
            memory                  = 2.GB
            withName: 'KRAKEN2|KRAKEN2_CONTIGS' {
                cpus                = 10
                memory              = 100.GB
                maxForks            = 1
            }
            withName: 'ALIGN|MEGAHIT' {
                cpus                = 20
            }
            withName: 'CHECKM' {
                cpus                = 10
                memory              = 80.GB
                maxForks            = 6
            }
        }
    }
    // Docker environment configuration
    docker {
        docker.enabled         = true
    }
    // Singularity environment configuration
    singularity {
        singularity.enabled    = true
    }
    // Apptainer environment configuration
    apptainer {
        apptainer.enabled      = true
    }
}