profiles {
    genomed {
        params.cpus = 40
        params.memory = 125.GB
        cleanup                 = true                                                           // Cleanup intermediate files
        dag.enabled             = true
        dag.file                = "${params.outdir}/pipeline_info/dag.html"                      // DAG visualization file
        report.enabled          = true
        report.file             = "${params.outdir}/pipeline_info/report.html"                   // Report file
        timeline.enabled        = true
        timeline.file           = "${params.outdir}/pipeline_info/timeline.html"                 // Timeline file
        trace.enabled           = true
        trace.file              = "${params.outdir}/pipeline_info/trace.txt"                     // Trace file
        process {
            cpus = 1
            memory = 2.GB
            withName: 'METAPHLAN_RESULTS|REPORT' {
                publishDir = [path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" }, mode: 'copy']
            }
                withName: 'METAPHLAN' {
                cpus = 20
                memory = 100.GB
                maxForks = 1
            }
}
    }
    test {
        params.outdir           = "results"                               // Output directory for results
        params.reads            = "/home/aglebus/data"                      // Reads files
        params.metaphlan_db     = "/mnt/sdb1/aglebus/metaphlan_db"
        params.kraken2_db       = "/mnt/sdb1/aglebus/kraken2_db"
        cleanup                 = false
        params.cpus             = 1
        dag.enabled             = true
        dag.file                = "${params.outdir}/pipeline_info/dag.html"                      // DAG visualization file
        report.enabled          = true
        report.file             = "${params.outdir}/pipeline_info/report.html"                   // Report file
        timeline.enabled        = true
        timeline.file           = "${params.outdir}/pipeline_info/timeline.html"                 // Timeline file
        trace.enabled           = true
        trace.file              = "${params.outdir}/pipeline_info/trace.txt"                     // Trace file
        process {
            withName: 'REPORT|METAPHLAN_RESULTS|BRACKEN|UNIFY_RESULTS' {
                publishDir      = [path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" }, mode: 'copy']
            }
            withName: 'METAPHLAN' {
                cpus        = 20
                memory      = 10.GB
                maxForks    = 1
            }
        }
    }
    // Docker environment configuration
    docker {
        docker.enabled         = true
    }
    // Singularity environment configuration
    singularity {
        singularity.enabled    = true
    }
    // Apptainer environment configuration
    apptainer {
        apptainer.enabled      = true
    }
}