enable.dsl = 2
// Define profiles for different environments
profiles {
    genomed {
        params.reports = false
        params.cpus = 40
        params.memory = 125.GB
        cleanup                 = true                                                                      // Cleanup intermediate files
        if (params.reports) {
            def trace_timestamp     = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')                                  // Define trace timestamp
            dag.enabled             = true
            dag.file                = "${params.outdir}/pipeline_info/dag.html"                      // DAG visualization file
            report.enabled          = true
            report.file             = "${params.outdir}/pipeline_info/report.html"                   // Report file
            timeline.enabled        = true
            timeline.file           = "${params.outdir}/pipeline_info/timeline.html"                 // Timeline file
            trace.enabled           = true
            trace.file              = "${params.outdir}/pipeline_info/trace.txt"                     // Trace file
            }
        process {
            cpus = 1
            memory = 2.GB
            withName: 'METAPHLAN_RESULTS|REPORT' {
                publishDir = [path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" }, mode: 'copy']
            }
                withName: 'METAPHLAN' {
                cpus = 20
                memory = 100.GB
                maxForks = 1
            }
}
    }
    test {
        params.outdir           = "results"                               // Output directory for results
        params.reads            = "/home/aglebus/data"                      // Reads files
        params.metaphlan_db     = "/home/aglebus/metaphlan_db"
        cleanup                 = false
        params.reports          = true
        params.cpus             = 1
        if (params.reports) {
            def trace_timestamp     = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')                                  // Define trace timestamp
            dag.enabled             = true
            dag.file                = "${params.outdir}/pipeline_info/dag.html"                      // DAG visualization file
            report.enabled          = true
            report.file             = "${params.outdir}/pipeline_info/report.html"                   // Report file
            timeline.enabled        = true
            timeline.file           = "${params.outdir}/pipeline_info/timeline.html"                 // Timeline file
            trace.enabled           = true
            trace.file              = "${params.outdir}/pipeline_info/trace.txt"                     // Trace file
            }
        process {
            withName: 'METAPHLAN_RESULTS|REPORT' {
                publishDir      = [path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" }, mode: 'copy']
            }
            withName: 'METAPHLAN' {
                cpus        = 20
                memory      = 100.GB
                maxForks    = 1
            }
        }
    }
    // Docker environment configuration
    docker {
        docker.enabled         = true
    }
    // Singularity environment configuration
    singularity {
        singularity.enabled    = true
    }
    // Apptainer environment configuration
    apptainer {
        apptainer.enabled      = true
    }
}