/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/
params {
    publish_dir_mode             = 'copy'
}
process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    withName: '.+' {
        tag = { "" }
    }
    withName: FASTQC {
        publishDir = [ enabled: false ]
    }
    withName: FASTP {
        publishDir = [ enabled: false ]
    }
    withName: KRAKEN2_KRAKEN2 {
        publishDir = [ enabled: false ]
    }
    withName: BRACKEN_BRACKEN {
        publishDir = [ enabled: false ]
    }
    withName: KREPORT2MPA {
        publishDir = [ enabled: false ]
    }
    withName: CAT_FASTQ {
        publishDir = [ enabled: false ]
    }
    withName: MULTIQC {
        ext.args = { "--title bracken" }
    }
    withName: TAX_METRICS {
        publishDir = [
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            path: { "${params.outdir}/bracken_results" }
        ]    
    }
}