/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/
params {
    publish_dir_mode             = 'copy'
}
process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    withName: '.+' {
        tag = { "" }
    }
    withName: /FASTQC|FASTP|CAT_FASTQ|METAPHLAN_METAPHLAN|NCBIGENOMEDOWNLOAD|MEGAHIT|KRAKEN2_KRAKEN2|BRACKEN_BRACKEN|KREPORT2MPA/ {
        publishDir = [ enabled: false ]
    }
    withName: NCBIGENOMEDOWNLOAD {
        ext.args = {"--formats fasta"}
        errorStrategy = 'ignore'
    }
    withName: METAPHLAN_METAPHLAN {
        ext.args   = '-t rel_ab_w_read_stats'
    }
    withName: MULTIQC {
        ext.args = { "--title metaphlan" }
    }
    withName: BRACKEN_BRACKEN {
        ext.args   = '-r 150 -l S'
        errorStrategy = 'ignore'
    }
    withName: "BRACKEN_CUSTOM_CONTIGS:BRACKEN_RESULTS" {
        publishDir = [
            path: { "${params.outdir}/bracken_contigs_results" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]    
    }
    withName: TAX_METRICS {
        errorStrategy = 'ignore'
        publishDir = [
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            path: { "${params.outdir}/metaphlan_results" },
            mode: params.publish_dir_mode
        ]    
    }
}